@model secimyolu.Models.PollingList
@{
    ViewBag.Title = "GÖREVLİ BİLGİLERİ";
    Layout = null;
}

<form method="post" id="CarDefine">
    <div class="row">
        <div class="page-group">
            <div class="col-md-12">
                <div class="paper-input">
                    <textarea class="text-input floating-label" tabindex="3" rows="3" id="Address" name="newCar.Address" maxlength="250" placeholder="Konum"></textarea>
                    <label for="Address">Kalkış Adres</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="paper-input">

                    <input type="text" class="text-input floating-label" id="arrivalDate" tabindex="4" name="newCar.DepartureDate" value="">
                    <label for="departureDate">Kalkış Tarih</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="paper-input">
                    <input type="text" class="text-input floating-label hasPtTimeSelect" id="DepartureHour" tabindex="5" name="newCar.DepartureHour" value="">
                    <label for="DepartureHour">Kalkış Saat</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Destination" class="select-label">Varış Noktası</label>
                    <select name="newCar.Destination" id="Destination" class="text-input floating-label">
                        <option value="-1">Seçiniz</option>
                       
                    </select>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</form>